Intermediate
Saved
DerivedDataCache
Binaries
.vs
*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
*.sym
*.debug
EndlessRunner/Binaries/Win64/EndlessRunner.exp
EndlessRunner/Binaries/Win64/EndlessRunner.lib
EndlessRunner/Releases
*.log
*.target.xml
*.target
*.modules
*.opendb
*.VC.db
*.rar